.no-pins-here{
	text-align: center;
}

.pin{}

.pin .pin__image{
	width:100%;
}

.pin .pin__meta {
	text-align: right;
	font-weight: bold;
	padding-bottom: 19px;
}
.pin .pin__meta a:hover {
	text-decoration: none;
}

.btn-add-new-pin {
	position: fixed;
	bottom: 20px;
	left: 20px;
}
