.no-pins-here{
	text-align: center;
}

.pin{}

.pin .pin__image{
	width:100%;
	margin-bottom: 10px;
}
.pin__title{
	margin-bottom: 10px;
	font-size: 150%;
	font-weight: bold;
}
.pin .pin__meta {
	text-align: left;
	padding-bottom: 5px;
}
.pin .pin__meta a:hover {
	text-decoration: none;
}

.btn-add-new-pin {
	position: fixed;
	bottom: 20px;
	left: 20px;
}
