
<boards boards="vm.boards" ng-show="vm.boards && vm.boards.length"></boards>

<div class="dropup btn-add-new-pin" ng-show="vm.isAuthenticated">
    <button class="btn btn-primary btn-raised mdi-content-add btn-fab dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation">
      	<a role="menuitem" tabindex="-1" href="#"
      		href="javascript:void(0)"
			
			ng-dialog="/static/templates/pins/new-pin.html"
			ng-dialog-controller= "NewPinController as vm">New Pin</a></li>
      <li role="presentation">
      	<a role="menuitem" tabindex="-1" href="#"
      		href="javascript:void(0)"
			
			ng-dialog="/static/templates/boards/new-board.html"
			ng-dialog-controller= "NewBoardController as vm">New Board</a></li>
    </ul>
  </div>