# Python compiled byte code
*.pyc

# SQLite3 database
*.sqlite3

# Debugging Logs
*.log

# Images folder
static/images/

# Node modules
node_modules/

# Bower components
static/bower_components/

# Uglified JavaScript
dist/

# Staticfiles
staticfiles/

#kml files
*.kml
