<div ng-app="mappl2.boards.controllers">
<div ng-controller="BoardsController">
	
<div class="row">
	<div class="col-sm-12">
		
		<div class="well">
			
			<div class="board">
				<div class="board__meta">
					<a href="/{{board.author.username}}">
						{{ board.author.username }}
					</a>
				</div>
				<a ng-click="openBoard(board)">
				<div class="board__content">
					<b>{{ board.title }}</b>
					{{ board.description }}
				</div>
				</a>
			</div>
		</div>
		
	</div>
</div>

</div>
</div>