<div ng-app="mappl2.pins.controllers">
<div ng-controller="NewPinController">
<form role="form" ng-submit="vm.submit()">
	<div class="form-group">
		<label for="pin__board">Board</label>
		<select class="form-control"
			id="pin__board" 
			ng-model="vm.board" 
			ng-options="board.title for board in vm.boards">
			<option value="" disabled selected>Select your board</option>
		</select>
	</div>
	
	
	<div class="form-group">
		<label for="pin__image">Image</label>
		<input type="text" 
			class="form-control" 
			id="pin__image" 
			ng-model="vm.image" 
			placeholder="Name of image goes here."/>
	</div>
	<div class="form-group">
		<label for="pin__title">Title</label>
		<input type="text" 
			class="form-control" 
			id="pin__title" 
			ng-model="vm.title" 
			placeholder="Short title for pin goes here."/>
	</div>
	<div class="form-group">
		<label for="pin__content">Notes</label>
		<textarea class="form-control"
			id="pin__content"
			rows="3"
			placeholder="Pin description goes here"
			ng-model="vm.content">
		</textarea>
	</div>
	<div class="form-group">
		<label for="pin__mapsURL">Maps URL</label>
		<input type="text"
			class="form-control"
			id="pin__mapsURL"
			ng-model="vm.mapsURL" />
	</div>
	<div class="form-group">
		<label for="pin__usPOC">US POC</label>
		<input type="text"
			class="form-control"
			id="pin__usPOC"
			ng-model="vm.usPOC" />
	</div>
	<div class="form-group">
		<label for="pin__hnPOC">HN POC</label>
		<input type="text"
			class="form-control"
			id="pin__hnPOC"
			ng-model="vm.hnPOC" />
	</div>
	<div class="form-group">
		<label for="pin__mgrs">MGRS</label>
		<input type="text"
			class="form-control"
			id="pin__mgrs"
			ng-model="vm.mgrs" />
	</div>
	<div class="form-group">
		<label for="pin__location">Location</label>
		<input type="text"
			class="form-control"
			id="pin__location"
			ng-model="vm.location" />
	</div>
	<div class="form-group">
		<label for="pin__latitude">Latitude</label>
		<input type="text"
			class="form-control"
			id="pin__latitude"
			ng-model="vm.latitude" />
	</div>
	<div class="form-group">
		<label for="pin__longitude">Longitude</label>
		<input type="text"
			class="form-control"
			id="pin__longitude"
			ng-model="vm.longitude" />
	</div>
	<div class="form-group">
		<label for="pin__link">Link</label>
		<input type="text" 
			class="form-control" 
			id="pin__link" 
			ng-model="vm.link" 
			placeholder="Enter URL that you would like to pin"/>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">
			Submit
		</button>
	</div>
</form>
</div>
</div>