<div ng-app="mappl2.pins.controllers">
<div ng-controller="PinsController">
	
<div class="row">
	<div class="col-sm-12">
		<div class="well">
			<div class="pin">
				<a ng-click="showPin(pin)" >
					<div class="pin__image">
						<img src="/static/images/{{ pin.image }}" style="width:100%;"/>
					</div>
				</a>
				<div class="pin__title">
					{{ pin.title }}
				</div>
				<div class="pin__meta">
					Pin created by 
					<a href="/{{ pin.author.username }}">
						{{ pin.author.username }}
					</a><br/>
					On board
					<a href="/boards/{{pin.board.id}}">
						{{ pin.board.title }}
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

</div>
</div>
<!--
-->