<a href="{{ ngDialogData.link }}" target="_blank">
	<div class="pin__title">
		<h2>{{ ngDialogData.title }}</h2>
		<b>{{ ngDialogData.board.title }}</b>
	</div>
	<div class="pin__image">
		<img src="/static/images/{{ ngDialogData.image }}" style="width:100%;"/>
	</div>
</a>
<div class="pin__meta">
	<a href="/{{ ngDialogData.author.username }}">
		Author: {{ ngDialogData.author.username }}
	</a>
</div>
<div class="pin_latlong">
	<i>Latitude, Longitude: 
	({{ ngDialogData.latitude }}, {{ ngDialogData.longitude }}) </i>
</div>
<div class="pin__content">
	{{ ngDialogData.content }}
</div>